<div class="" ng-controller="group.groupFilesController">
    <div>
        <ol class="breadcrumb">
            <li><a href="#/group/{{group.id}}">{{group.groupname}}</a></li>
            <li class="active">Данные</li>
            <div class="pull-right" role="toolbar" id="toolbar">
                <div class="btn-group" role="group" aria-label="...">
                    <a ng-click="goBack()" ref="tooltip" title="Back">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="#/upload{{model.currentPath}}" ref="tooltip" title="Add Resource">
                        <i class="fa fa-file"></i>
                    </a>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <a href="#/createFolder{{model.currentPath}}" ref="tooltip" title="Create Folder">
                        <i class="fa fa-folder-open"></i>
                    </a>
                </div>
            </div>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                <div ng-if="!model.element || model.element.isFolder" id="content" class="well">
                    <table class="table table-stripped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Owner</th>
                            <th>Creation Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="element in model.elements| filter: model.query ">
                            <td>
                                <div ng-if="element.isFolder"><i class="fa fa-folder-o"/></div>
                                <div ng-if="!element.isFolder"><i class="fa fa-file-o"/></div>
                            </td>
                            <td><a ng-click="showDetails(element)">{{element.name}}</a></td>
                            <td>{{element.size/1024/1024|number:2}} Mb</td>
                            <td>{{element.owner}}</td>
                            <td>{{element.ctime}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="model.element && !model.element.isFolder" id="detailInfo" class="well">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="hideDetails()">&times</button>
                        <h3>{{model.element.name}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row-fluid">
                            <td>
                                <div ng-if="element.isFolder"><i class="fa fa-folder-o"/></div>
                                <div ng-if="!element.isFolder"><i class="fa fa-file-o"/></div>
                            </td>
                            <div class="span8">
                                <p>UID: {{model.element.uid}}</p>
                                <p>Name: {{model.element.name}}</p>
                                <p>Type: {{model.element.type}}</p>
                                <p>Size: {{model.element.size/1024/1024|number:2}} Mb</p>
                                <p>Owner: {{model.element.owner}}</p>
                                <p>Creation Time: {{model.element.ctime}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" ng-click="download(model.element.url)">Download</button>
                        <button type="button" class="btn" ng-click="closeDetails()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>