<section id="services">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">R language</h2>
            </div>
        </div>
        <div class="text-muted">
            <div style="text-align: center;">
                R is a language and environment for statistical computing and graphics.
                It is a GNU project which is similar to the S language and environment which was developed at Bell
                Laboratories (formerly AT&amp;T, now Lucent Technologies) by John Chambers and colleagues. R can be
                considered as a different implementation of S. There are some important differences, but much code
                written for S runs unaltered under R.

            </div>
        </div>
        <div class="text-muted">

            <div style="text-align: center;">
                R provides a wide variety of statistical (linear and nonlinear modelling, classical statistical tests,
                time-series analysis, classification, clustering, ...) and graphical techniques, and is highly
                extensible. The S language is often the vehicle of choice for research in statistical methodology, and R
                provides an Open Source route to participation in that activity.
            </div>

        </div>
        <div class="row text-center">
            <div style="text-align: center;">
                <a href="http://www.r-project.org/about.html">
                    What is R language?
                </a>
            </div>
        </div>
    </div>
</section>



